<!DOCTYPE html>
<html>

    <head>
        <title> Blog app </title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.css" type="text/css" />
        <link rel="stylesheet" href="/stylesheet/app.css" type="text/css" />
    </head>

    <body>
        <nav class="ui top fixed inverted menu">
            <div class="ui container">
                <div class="header item">
                    <i class="code icon"></i> Blog Site
                </div>
                <a class="item" href="/">
                  <i class="home icon" ></i> Home
                 </a>
                <a class="item" href="/blogs/new">
                  <i class="write icon" ></i> New Post
                </a>
            </div>
        </nav>
